#drop-image {
    .container p {
        color: red;
        text-align: center;
    }
    
    .drop-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        width: 800px;
        height: 200px;
        border: 4px dashed $primary;
    }
    
    .upload-icon {
        width: 50px;
        height: 50px;
        background-size: 100%;
        text-align: center;
        margin: 0 auto;
        padding-top: 30px;
    }
    
    .drop-message {
        text-align: center;
        color: $primary;
        font-family: Arial;
        font-size: 20px;
    }
}