.shadow_primary {
  box-shadow: 0px 1.09009px 2.18018px rgba(31, 139, 36, 0.18),
    0px 2.18018px 4.36036px rgba(82, 151, 232, 0.5);
}

.shadow_success {
  box-shadow: 0px 4px 4px rgba(113, 217, 204, 0.2);
}
