#home_page {
  display: flex;
  .my-menu {
    display: flex;
    flex: 1;
    background-color: red;
  }

  .right_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    .notify_wrapper {
      position: relative;
      display: inline-block;
      top: 15;
    }

    .counter {
      position: absolute;
      height: 1rem;
      width: 1rem;
      font-size: 0.5rem;
      top: -5px;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      background-color: red;
      border: 1px solid white;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
  }
}
